# Node modules
node_modules

# Environment variables
.env.example

# Build directories
dist
build
.cache

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac and Linux file system files
.DS_Store
Thumbs.db

# IDE specific files
.vscode
.idea

# Miscellaneous
*.swp
*.swo
*.bak
*.tmp

# Git directory
.git

